body{
    background-color: rgb(40, 46, 46);
}

.display {
    background-color: rgb(2, 0, 0);
    padding: 15px;
    width: 250px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-top:50px;
    
}

h1{
    color:rgb(255, 253, 253);
}

button {
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);
   }
   button:active {
    background-color:  rgb(71, 71, 71);
}
